*{
    margin: 0;
    padding: 0%;
 
}

:root{
    --color-box: #0aa;
    --color-text: #e1e1e1;
}

html {
    height: 100%;
}
body{
    box-sizing: border-box;   
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: .2fr repeat(6 1fr) .2fr;
    gap: 12px;
}


[class^="item-"]{
    background: var(--color-box);
    color: var(--color-text);
    font-size: 16px;
    border-radius: 30px;
}

.fullwidth{
    grid-column: 1/13;
}

.carousel{
    height: 300px;
}