main {
  padding-top: 5rem;
}

main > .container {
  grid-column: 2 / span 10;
  height: 400px;

  display: flex;
  gap: 1em;
  justify-content: space-between;
}

.active {
  flex-grow: 4;
}

.card h1.vertical {
  transform: rotate(-90deg) translate(-245px, 4.5dvw);
  width: 0px;
  font-size: 9rem;
}

p.hide {
  font-size: 1.8cqw;
  width: 0px;
  text-wrap: nowrap;

  transform: translate(8cqw, 80px);

  visibility: collapse;
  transition: all 250ms;
}

.active > p.hide{
  visibility: visible;
}

.about {
  grid-column: 4 / span 6;
  margin: 5rem 0;
}

.about h1 {
  padding-bottom: 2rem;
}
main .newsletter {
  grid-column: 3 / span 8;
  gap: var(--grid-gap);
  align-items: center;

  border: none;
  border-radius: var(--corner-radius);
  background-color: var(--col-dblue);
  color: var(--col-yellow);

  padding: 2rem;
  font-size: large;
  transition: all 250ms;
}

main .newsletter #newsletter-join {
  font-size: large;
  font-weight: 800;

  border-radius: 6px;
  
  padding: 0.8rem 1.25rem;
}

main .newsletter:hover {
  background-color: var(--col-yellow);
  color: var(--col-dblue);
  transform: scale(1.05);
}
