* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
:root {
--grid-gap: 30px;
--corner-radius: 30px;

--bg-col: #0a0a0a;
--primary: #333;
--secondary: #efefef;
--col-red: #e43636;
--col-orange: #f84f19;
--col-yellow: #f8ac19;
--col-green: #81e71b;
--col-lblue: #1bb6e7;
--col-dblue: #2745e4;
--col-purple: #aa17f0;
}
/* fonts */
.plex {
    font-family: "IBM Plex Mono", monospace;
}

.koulen {
    font-family: "Koulen", sans-serif;
    line-height: 1;
}

body {
    background: var(--bg-col);
    color: var(--secondary);
    font-family: "Jost", sans-serif;
}

main {
    padding-top: 5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--grid-gap);
}

header {
    height: 80px;
    padding: 0 40px;
    background: var(--secondary);
    color: var(--primary);
    align-items: center;
}

header h1 {
    grid-column: span 6;
}

header nav {
    grid-column: span 6;
    justify-self: end;
}

header nav a {
    height: 100%;
    color: var(--primary);
    text-decoration: none;
    padding: 10px;
}

header nav a:hover {
    font-weight: 800;
    transition: font-weight 250ms;
}

.card {
    border-radius: 30px;
    flex: auto;
    background: #ddd;
    transition: flex 400ms, background 500ms, box-shadow 500ms;
}

.container {
    grid-column: 2 / span 10;
    min-height: 350px;
    display:flex;
    gap: 16px;
    justify-content: space-between;
}

.active {
    background: var(--col-lblue);
    flex-grow: 5;
}

h1.rotate {
    writing-mode: vertical-lr;
    text-orientation: upright;
}

.about {

    grid-column: 4/span 6 ;
}

@media only screen and (max-width: 1000px) {
    header h1 {
        font-size: 26px;
    }

    header nav {
        display: none;
    }
    body {
        margin: 0 5%;
    }
    .container {
        min-height: 600px;
        flex-direction: column;
    }
    h1.rotate {
        writing-mode: none;
    }
}
  