main {
  margin: 5rem 15%;
}

.card {
  grid-column: span 4;
  border-radius: 12px;
  padding: 4rem;
  transition: all 250ms;
  overflow: hidden;
  font-size: 1.2rem;
}

main .card:nth-child(1) {
  background: var();
}

.card h1,
.card h2 {
    font-size: 3rem;
}

.card h1 {
  font-size: 14rem;
  text-align: center;
}

.large {
  grid-row-end: span 8;
}

.medium {
  grid-row-end: span 4;
}

.small {
  grid-row-end: span 2;
}

.wide {
  grid-column: span 8;
}
